/* MainNav.css */

.main-navigation {

  align-content: center;
	bottom: 0;
  background: #39373b;
  display: flex;
  font-family: 'Oxygen', sans-serif;
  height: 4.5rem;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
}

.main-navigation__logo h2 {
  color: white;
	font-size: 2.7rem;
	letter-spacing: .2rem;
  margin: .8rem;
}

.main-navigation__items {
  margin-left: 2rem;
}

.main-navigation__items ul {
  display: flex;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  align-items: center;
}

.main-navigation__items li {
	font-size: 2rem;
  letter-spacing: 2px;
  margin: 0 1rem;
}

.main-navigation__items a {
  color: #e3e1de;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font: inherit;
  background: transparent;

}

.main-navigation__items a.logout {
  margin-left: 7rem;
}

.main-navigation__items a:hover {
  border: transparent;
	color: #a6b0a0;
}

.main-navigation__items a:active,
.main-navigation__items a.active {
  border: transparent;
	color:gray;
}

